body {
  display: block;
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 69px;
  position: fixed;
  z-index: 1;
  background-color: black;
  align-items: center;
  border-bottom: 1px solid seashell;
}

.header img {
  height: 50px;
  padding-left: 10px;
}

nav {
  text-align: right;
  flex-grow: 1;
}

nav a {
  text-decoration: underline;
  color: seashell;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

.main {
  padding-top: 69px;
  width: 1200px;
  margin: auto;
}

.main-container, .products, .flex-locations {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h2, h3, h4 {
  margin: 0;
  padding: 10px;
}

#mission {
  height: 700px;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg');
  padding-top: 70px;
}

#mission .content {
  margin: auto;
  background-color: black;
  width: 100%;
}

#store {
  height: 700px;
  width: 1000px;
  margin: auto;
  padding-top: 70px;
}

.item {
  padding: 5px;
}

.item img {
  height: 200px;
  margin: 10px;
  display: block;
}

.item span {
  display: block;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

#locations {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg');
  height: 500px;
  padding-top: 70px;
}
